<h1>Inpud Data Bellow \/</h1>
<form [formGroup]='personForm' (ngSubmit)='onSubmit()'>
    <div class="centerer">
        <p>
            <label>
                id:
                <input type="text" formControlName="id" readonly>
            </label>
        </p>
        <p>
            <label>
                Name:
                <input type="text" formControlName="firstName">
            </label>
        </p>
        <p>
            <label>
                Last Name:
                <input type="text" formControlName="lastName">
            </label>
        </p>
        <p></p>
        <label>
            Birth Date:
            <mat-form-field>
                <input matInput [matDatepicker]="birthPicker" placeholder="Data Ur" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
                <mat-datepicker #birthPicker></mat-datepicker>
            </mat-form-field>
        </label>
        <p></p>
        <p>
            <label>
                Height (cm):
                <mat-slider min="1" max="300" step="1" thumbLabel tickInterval="1" formControlName="wzrost"></mat-slider>
            </label>
        </p>
        <p></p>
        <p>
            <label>
                Waga (kg):
                <mat-slider min="1" max="200" step="1" thumbLabel tickInterval="1" formControlName="waga"></mat-slider>
            </label>
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </div>
</form>
